*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: url(../Imagenes/figueras-ge.jpg);
    /* background-size: 100%; */
}
html{
    font-size: 62.5%;
}
.header--nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: rgb(41, 98, 100);
}
.header h1{
    color: purple;
    display: flex;
    justify-content: center;
    padding: 3rem;
    font-size: 4rem;
}
.header p{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-bottom: 6rem;
}
.header--nav__img{
    width: 6rem;
    height: 4rem;
    margin: 2rem;
    object-fit: scale-down;
}
.header--nav li:hover {
    background: purple;
}
.header--nav .menu li{
    font-size: 1.8rem;
    padding: .3rem;
    cursor: pointer;
}
.header--nav ul{
    list-style: none;
}
.menu{
    margin: 0 10px;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    font-size: 2rem;
    padding: .5rem;
    color: white;
    text-decoration: none;
}
.menu li a:hover{
    color: black;
    transition: all .3s;
}
/* Sub-menu */

.submenu{
    display: none;
    position: absolute;
    background: rgb(160, 157, 157);
    width: 9rem;
    padding: .4rem;
    transition: opacity 1.5s;
}
.submenu li a{
    display: block;
    font-size: 2rem;
    padding: .4rem;
    text-decoration: none;
    color: white;
}
.menu li:hover > .submenu{
    display: block;
}
.titulo h1{
    display: flex;
    justify-content: center;
    color: white;
    padding: 3rem;
    font-size: 4rem;
}
.titulo p{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.8rem;
    margin: 1rem 3rem;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem 1rem;
}
.card-1, .card2{
    display: flex;
    width: 34rem;
    height: 48rem;
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(128, 61, 131, 0.397);
    background-color: rgb(198, 232, 233);
    margin: 2rem;
}
.card-1 h2{
    display: flex;
    font-size: 2.7rem;
    margin-bottom: 3rem;
    color: purple;
    margin: 8px 5px;
}
.card-1 label{
    font-size: 2.2rem;
}
#inputPrice,
#inputDiscount, #inputCupon, #cupons{
    width: 30rem;
    height: 3rem;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
button{
    display: flex;
    justify-content: center;
}
.card-1 button{
    width: 30rem;
    height: 4rem;
    border: solid purple;
    border-radius: 0.8rem;
    font-size: 1.8rem;
    padding: .8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.card-1 .card-2 .card-3 .card-4 .card-5 .card-6 .card-7, button:hover {
    background-color:  rgb(160, 157, 157);
}


/* segunda carta */
.card2--h2{
    display: flex;
}
.card2--h2 h2{
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: purple;
}
.card2--h2 p{
    font-size: 2.4rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.card2--img{
    width: 20rem;
    height: 15rem;
    margin: auto 5rem;
    border-radius: 2rem;
}
.card2 .resultado{
    font-size: 2.2rem;
    margin-top: 1rem;
}
.card2 #resultOriginal, #resultPDescuento, #resultCupones, #resultAhorro{
    width: 30rem;
    height: 4rem;
    font-size: 1.8rem;
    border: solid purple;
    border-radius: .8rem;
    background-color: white;
    padding: 1rem 2rem;
    margin-bottom: .5rem;

}
.card2  #resultTotal{
    width: 30rem;
    height: 4rem;
    font-size: 1.8rem;
    border: solid red;
    border-radius: .8rem;
    background-color: rgb(214, 145, 211);
    padding: 1rem 2rem;
}

.card3--sec3{
    width: 18rem;
    height: 15rem;
    font-size: 1.6rem;
    border: solid red;
    border-radius: .8rem;
    background-color: rgb(214, 145, 211);
    padding: 1rem 2rem;
    margin: 2.5rem 1rem;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: rgb(41, 98, 100);
}

.footer ul{
    display: flex;
    list-style: none;
    padding: 0px;
}
.footer ul li{
    margin: 0;
}
.footer ul li img{
    width: 3.5rem;
    height: 3.5rem;
    margin: 5px;
}
.pp{
    font-size: 18px;
    margin-left: 50px;
    padding: 5px;
    margin: 2px 10px;
    color: white;
}

@media(max-width: 600px){
    .header--nav{
        width: 100%;
        height: 18vh;
    }
    .menu li a{
        font-size: 1.8rem;
        margin: 1px;
        padding: 0px;
    }
    .titulo h1{
        font-size: 3rem;
    }
    .titulo p{
        font-size: 2rem;
    }
    .card-1, .card2{
        width: 30rem;
        height: 42rem;
    }
    .card-1 h2{
        font-size: 2.2rem;
    }
    .card2--h2 h2{
        font-size: 2.2rem;
    }
    .card2--h2 p{
        font-size: 2rem;
    }
    .card-1 label{
        font-size: 2rem;
    }
    .card2--img{
        width: 18rem;
        height: 14rem;
        margin: auto 4rem;
    }
    .card2 .resultado{
        font-size: 2rem;
        margin-top: 1rem;
    }
    .card2 #resultOriginal, #resultPDescuento, #resultCupones, #resultAhorro{
     width: 26rem;
     height: 3rem;
     font-size: 1.6rem;
     padding: 0.5rem;
    }
    .card2 #resultTotal{
        width: 26rem;
        height: 3rem;
        font-size: 1.6rem;
        padding: 0.5rem;
    }
    #inputPrice, #inputDiscount, #inputCupon{
        width: 25rem;
        height: 2.5rem;
    }
    .card-1 button{
        width: 25rem;
        height: 4rem;
        font-size: 1.6rem;
    }
}